TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
SECRET_KEY=
DATABASE_URL=sqlite:///./soberlens.db
EMBEDDING_SIMILARITY_THRESHOLD=0.75
MODEL_PATH=model/model.pkl
SCALER_PATH=model/scaler.pkl
FEATURES_PATH=model/features.txt