fastapi
uvicorn[standard]
python-multipart
pydantic

# ML / CV
mediapipe
opencv-python-headless
numpy
scikit-learn==1.8.0

# Base de datos
sqlalchemy
psycopg2-binary

# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Alerts
twilio